$base-font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$soccer-base-font-family: "AvenirMedium", "Lucida Grande", Helvetica, Arial, sans-serif;
$score-font-family: "TungstenMedium";
$base-font-size: 14px;

$yellow-green: #D1EE00;
$light-green: #00E676;
$dark-blue: #001D36;
$dark-blue-2: #263D4E;
$dark-blue-3: #1D2E3D;

$fz-red: #d7013f;
$fz-grey: #d2d2d2;

$border-color: #aaaaaa;
$border-color-lightwhite: rgba(255, 255, 255, .15);
$base-font-color: #333;
$base-background-color: #ebebf3;
$anti-background-color: $dark-blue;
$anti-font-color: $yellow-green;

//Responsive
$mobile: 450px;
$tablet: 640px;
