@font-face {
  font-family: 'lnf-icon';
  src:  url('fonts/lnf-icon.eot?g0su9t');
  src:  url('fonts/lnf-icon.eot?g0su9t#iefix') format('embedded-opentype'),
    url('fonts/lnf-icon.ttf?g0su9t') format('truetype'),
    url('fonts/lnf-icon.woff?g0su9t') format('woff'),
    url('fonts/lnf-icon.svg?g0su9t#lnf-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lnf-icon-"], [class*=" lnf-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lnf-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lnf-icon-briefcase:before {
  content: "\e900";
}
.lnf-icon-calendar:before {
  content: "\e901";
}
.lnf-icon-profile:before {
  content: "\e902";
}
.lnf-icon-search:before {
  content: "\e903";
}

