$border-radius: 4px;

.el-dialog.normal {
  border-radius: $border-radius;

  &.tiny {
  	width: 240px;
  }

  &.small {
    width: 300px;
  }

  &.large {
  	width: 800px;
  }

  &.no-padding {

    .el-dialog__body {
      padding: 0;
    }
  }
  
  .dialog-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dialog-banner {
    background-color: $lightblue;
    height: 40px;
    line-height: 40px;
  }

  &.modal {
    top: 40% !important;
    text-align: center;
    font-size: 14px;
    line-height: 175%;

    a {
      color: $linkface;
      text-decoration: underline;
      margin-left: 4px;
    }

    .el-dialog__header {
      background-color: $lightblue;
      padding: 5px;

      .el-dialog__title {
        color: #333;
      }
    }

    .el-dialog__body {
      color: #333;
    }
  }

  &.light-header {

    .el-dialog__header {
      background-color: $lightblue;

      .el-dialog__title {
        color: #4A4A4A;
      }
    }
  }

	.el-dialog__header {
		background-color: $darkblue;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;

		.el-dialog__title {
			color: #FFF;
			font-weight: normal;
			font-size: 14px;
		}

		.el-dialog__close  {
			font-size: 10px;
			color: $linkface;
		}
	}

	.el-dialog__body {
		font-size: 14px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.el-dialog__footer {
		padding-top: 0;
		text-align: center;
	}

  .el-dialog__body {
    overflow: hidden;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

