.ml10 {
	margin-left: 10px !important;
}

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mt15 {
	margin-top: 15px !important;
}

.tx_c {
	text-align: center !important;
}

.no-bordered {
	border: none !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.hidden {
  display: none;
}