@mixin fillfull($position: absolute) {
	position: $position;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin fixsize($w, $l) {
	$paddingTop: percentage($l / $w);
	content: '';
	display: block;
	padding-top: $paddingTop;
}

@mixin block-border($direction, $thickness) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background-color: $linkface;
    @if $direction == 'right' {
      top: 0;
      right: -$thickness;
      bottom: 0;
      width: $thickness;
    } @else if $direction == 'bottom' {
      right: 0;
      left: 0;
      height: $thickness;
      bottom: -$thickness;
    }
  }
}

@mixin table-column-align($columnIndex: 1, $direction: 'left', $containHeader: true) {
  tr td:nth-child(#{$columnIndex}) {
    text-align: #{$direction};
  }
  @if $containHeader {
    tr th:nth-child(#{$columnIndex}) {
      text-align: #{$direction};
    }
  }
}
