$base-font-family: -apple-system-font,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",sans-serif;
$base-background-color: #FFF;
$base-font-color: #333;
$base-font-size: 14px;

$linkface: #ff8600;
$darkblue: #324060;
$lightblue: #eef4f9;
